.story {
  padding: 1em;
  width: 98%;
}

.section img {
  width: 98vw;
  height: 98vw;
  object-fit: cover;
  border-radius: 1em;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.writing p {
  margin-bottom: 1em;
}

@media only screen and (orientation: landscape) {
  .section {
    display: flex;
  }
  .section img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
  }
  .writing {
    padding: 1em;
  }
  .ourMission,
  .joinUs {
    flex-direction: row-reverse;
  }
}
