.navBarDesktop {
  border-bottom: solid rgb(214, 214, 214);
  border-bottom-width: 1px;
  padding: 0 1%;
  width: 98vw;
  height: 9vh;
  justify-content: space-between;
  display: none;
}

.navBarDesktop span {
  cursor: pointer;
}

.navLogo {
  display: flex;
  width: 15%;
  cursor: pointer;
  align-items: center;
}
.navLogo img {
  width: 25%;
  min-width: 50px;
}

.navLinks {
  width: 70%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5em;
}

.navIcons {
  width: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 0.2em;
}
.navIcons {
  font-size: 160%;
}
.navLinks span {
  font-size: 130%;
}
.navBarMobile .navLogo {
  height: 9vh;
}
.navBarMobile .navLogo img {
  margin: 0.2em;
}
.navBarMobile .navLinks {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1vw;
  width: 98vw;
  height: 89.9vh;
  overflow: hidden;
}
.closedNav {
  display: none;
}
@media only screen and (orientation: landscape) {
  .navBarDesktop {
    display: flex;
  }
  .navBarMobile {
    display: none;
  }
}
